:root {
    --cor-vermelha-principal: rgb(151, 44, 44);
    --cor-de-fundo-footer: whitesmoke;
    --cor-azul-principal: rgb(8, 8, 106);
}

h1,
h2,
h3,
h4,
a,
p,
figcaption {
    font-family: 'Cinzel', serif;
}

h2 {
    font-size: 22px;
    text-align: center;
    padding: 100px;
}

p {
    padding: 10px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: var(--cor-vermelha-principal);
    text-decoration: underline;
}